.footer {
    background-color: #1f1f1f;
    a {
        color: #4CAF50; /* Color para los enlaces */
        text-decoration: none;
    } 
    a:hover {
        text-decoration: underline;
    }
    img {
        width: 100px;
        height: auto;
        justify-self: center;
    }
}
